[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "cmake"]
	path = cmake
	url = https://github.com/antilopinae/cmake.git
[submodule "ant-cmake"]
	path = ant-cmake
	url = https://github.com/antilopinae/ant-cmake.git
